$img: 100%;
$height1: 23.5%;
$a: none;
$colo-a: #d34229;


a {
    text-decoration: $a;
    color: $colo-a;
}

.tit-recomm-txt-emph {
    color: $colo-a;
}

.intem-img {
    width: $img;
}

.custom_supper_hot_job {
    list-style-type: none;
    padding-left: 0;

    li {
        padding: 5px;
        border: 1px solid #ccc;
    }

    p {
        margin-bottom: 0;

    }
}

.intem-thume {
    &-img {

        img {
            width: $img;
            border: 1px solid #ccc;
            height: $height1;
        }
    }
}